<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662112081508-qjk8g19njqbbpu4tusgthgk82e9r2dk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662112081508-qjk8g19njqbbpu4tusgthgk82e9r2dk1</string>
	<key>API_KEY</key>
	<string>AIzaSyBXiOoiUQYBYnY__y18DeSGJRY6ySW_YhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>662112081508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azamsharp.GroceryApp</string>
	<key>PROJECT_ID</key>
	<string>groceryapp-6bd4f</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryapp-6bd4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662112081508:ios:e253e4b4fa899b0efa7171</string>
	<key>DATABASE_URL</key>
	<string>https://groceryapp-6bd4f.firebaseio.com</string>
</dict>
</plist>